html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    'Segoe UI',
    'Microsoft YaHei',
    'PingFang SC',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  color: var(--el-text-color-primary);
}

* {
  box-sizing: border-box;
}
